<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.facebookloginpage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".findaccount"
            android:label="@string/find"
            android:parentActivityName=".MainActivity"
            android:theme="@style/whiteStyle" />
        <activity
            android:name=".password"
            android:label="@string/password"
            android:parentActivityName=".mobilenumber"
            android:theme="@style/whiteStyle" />
        <activity
            android:name=".email"
            android:label="@string/email"
            android:parentActivityName=".gender"
            android:theme="@style/whiteStyle" />
        <activity
            android:name=".mobilenumber"
            android:label="@string/mobilenumber"
            android:parentActivityName=".gender"
            android:theme="@style/whiteStyle" />
        <activity
            android:name=".gender"
            android:label="@string/gender"
            android:parentActivityName=".dob"
            android:theme="@style/whiteStyle" />
        <activity
            android:name=".dob"
            android:label="@string/dob"
            android:parentActivityName=".register"
            android:theme="@style/whiteStyle" />
        <activity
            android:name=".register"
            android:label="@string/register"
            android:parentActivityName=".MainActivity"
            android:theme="@style/whiteStyle" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/myStyle">
        </activity>
    </application>

</manifest>